%head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"}
  %meta{:charset => "utf-8"}
  / Always force latest IE rendering engine (even in intranet) & Chrome Frame
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

  %title=data.page.page_title
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  <!-- Facebook Opengraph - https://developers.facebook.com/docs/opengraph/objects/builtin/ for examples, https://developers.facebook.com/docs/share/ for image dimensions -->
  %meta{:content => "", 'property'=>"og:title"}/
  %meta{:content => "", 'property'=>"og:type"}/
  %meta{:content=> "", 'property'=>"og:image"}/
  %meta{:content => "", 'property'=>"og:url"}/
  %meta{:content => "", 'property'=>"og:description"}/

  <!-- Mobile Specific Meta Tags -->
  %meta{:name => "viewport", :content => "user-scalable=no"}
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

  %link{:rel => "shortcut icon", :href=>"images/icons/favicon.ico", :type=>"image/x-icon"}

  <!-- CSS -->
  = stylesheet_link_tag "style.css"
  = stylesheet_link_tag "print.css", :media => "print"

  %script{:src => "/js/thirdparty/modernizr.js"}
  / %script{:src => "http://localhost:8081/target/target-script-min.js#anonymous"}
  %script{:src => "//use.typekit.net/pzw6vrr.js", :type => "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}