
// 3rd party libs
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"}
%script{:src => "/js/thirdparty/Color.Picker.Classic.js", :type => "text/javascript"}
%script{:src => "/js/thirdparty/Color.Space.js", :type => "text/javascript"}
%script{:src => "/js/thirdparty/jquery.transit.min.js", :type => "text/javascript"}

/ %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
%script{:src => "/js/sequence/modules/twitter/twitter-share.js"}
%script{:src => "/js/sequence/modules/facebook/facebook-share.js"}
%script{:src => "/js/sequence/modules/google-plus/google-plus.js"}

// Sequence libs
%script{:src => "js/sequence/utils/utils.js"}


%script{:src => "/js/sequence/app.js"}

