%header#site-header
  .container
    = partial('includes/structure/branding')
    %hgroup
      %h1 Pour some src on your project!
      %p
        img src is a quick and easy way to add placeholder
        %br images to your prototypes
      %a.more{:href=>"#options-container"} dip in!