%footer#site-footer
  .container
    %section#the-team
      %header
        %h3 The team
        %p Key ingredients that made imgsrc
      %section#people
        %article
          %h4 Ollie Wells
          %a{:href=>"http://www.twitter.com/olliewells/", :target=>"_blank", :title=>""} @olliewells
          %p Mashed the team together.
        %article
          %h4 Nadim Orfali
          %a{:href=>"http://www.twitter.com/_fenka/", :target=>"_blank", :title=>""} @_fenka
          %p Wrote the recipe.
        %article
          %h4 Matt O'Keefe
          %a{:href=>"http://www.twitter.com/mnokeefe/", :target=>"_blank", :title=>""} @mnokeefe
          %p Rubbed some UX on it.
        %article
          %h4 Matt Houlbrooke
          / %a{:href=>"http://www.twitter.com/", :target=>"_blank", :title=>""}
          %p Baked it in his .NET oven.
        %article
          %h4 Rich Carp
          %a{:href=>"http://www.twitter.com/rdcarp/", :target=>"_blank", :title=>""} @rdcarp
          %p Helped with the bake.
        %article
          %h4 Hamish Taplin
          %a{:href=>"http://www.twitter.com/hamishtaplin/", :target=>"_blank", :title=>""} @hamishtaplin
          %p Seasoned the front-end.
        %article
          %h4 James Bearne
          %a{:href=>"http://www.twitter.com/jbearne/", :target=>"_blank", :title=>""} @jbearne
          %p Spiced the brand.
        %article
          %h4 Liam Flaherty
          %a{:href=>"http://www.twitter.com/liamflahertyuk/", :target=>"_blank", :title=>""} @liamflahertyuk
          %p Laid the table.
    = partial "includes/modules/social/social-share"

    .row
      .copyright &copy; Sequence 2012
      %p
        imgsrc is brought to you by
        %a{:href=>"http://www.sequence.co.uk"}
          = image_tag("/images/sequence-logo.png")