!!! 5

- custom_html_tag 'en-GB'

= partial('includes/structure/html-header')

%body
  = partial('includes/structure/site-header')
  #content
    = yield_content :content
  = partial('includes/structure/site-footer')
  = partial('includes/structure/javascripts')