
@mixin button-background($background-color, $background-color-2, $background-color-3, $background-image: none) {
  background: $background-color; /* Old browsers */
  background: -moz-linear-gradient(top, $background-color 2%, $background-color-2 2%, $background-color-3 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, $background-color 2%,$background-color-2 2%,$background-color-3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $background-color 2%,$background-color-2 2%,$background-color-3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $background-color 2%,$background-color-2 2%,$background-color-3 100%); /* IE10+ */
  background: linear-gradient(to bottom, $background-color 2%,$background-color-2 2%,$background-color-3 100%); /* W3C */
}


@mixin button-active($background-color){
  @include vertical-gradient(darken($background-color, 15%), darken($background-color, 10%));
}

@mixin button-hover($background-color) {
  @include vertical-gradient($background-color, darken($background-color, 20%));
  text-decoration:none;
}

@mixin button($background-color){
  @include border-radius(4px);
  @include font-size(1.7, 2);
  @include text-shadow(0 1px 1px rgba(255, 255, 255, 0.5));
  @include box-shadow(0 3px 5px rgba(0,0,0,0.6));
  @include button-background(#a9a9a9, #989898, #727272);

  font-family: $serif;
  border: none;
  padding: 15px;
  color: $black;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin: 0;
  vertical-align: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include opacity(0.8);

  &:visited {
    color: $black;
  }
  &:hover {
    @include button-hover($background-color);
  }
  &:active {
    @include button-active($background-color);
  }
  &:after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
  }
}

.button {
  @include button($highlight-color);
}

