@include font-face(Lavanderia, lavanderia_sturdy-webfont, webfonts);

html {
  color: $text-color;
  font-family: $serif;
  font-size: 62.5%;
  line-height: 2;
}

body {
  @include font-size(1.6);
}

a,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
  @include font-size(1.6, 2);
}

p {
  margin-bottom: $baseline * 2;
}
ul {
  list-style:disc;
}
ul, ol {
  margin-bottom: 10px;
  ul, ol {
    margin-bottom: 5px;
  }
}
li {
  margin-left: 20px;
  line-height: 1.5;
}

abbr, acronym {
  border-bottom: 1px dotted black;
}

address {
  font-style: italic;
}

del {
  color: black;
}

a {
  color: $links-normal;
  @include link-colours($links-normal, $links-hover, $links-active, $links-visited, $links-focus);
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  @include transition(color, 0.2s);
  &:hover {
    @include transition(color, 0.2s);
    text-decoration: underline;
  }
}

a, a:active, a:focus {
  outline: 0;
}

blockquote {
  margin: ($baseline * 2) 0 ($baseline * 2) 0;
  padding: 0 20px;
  display: block;
  @include font-size(1.8);
  font-style: italic;
  border-left: 4px solid $highlight-color;
}

pre, code {
  margin: 10px 0;
  white-space: pre;
}

pre, code, tt {
  font: $mono;
  line-height: 1.5;
  padding: 0 3px 2px;
}

q {
  font-style: italic;
  font-weight: bold;
  font-family: $serif;
}

cite {
  display: block;
}

figure {
  margin-bottom: $baseline * 2;
  img {
    margin-bottom: $baseline;
  }
}

figcaption, time {
  display: block;
  color: $black;
  @include font-size(1.3, 2);
}

small {
  @include font-size(1.3);
}

strong {
  font-weight: bold;
}

img {
  vertical-align: bottom
}

header {
  p {
    @include font-size(1.6, 2);
  }
}

