//Forms

::-webkit-input-placeholder {
  color: $grey;
}
:-moz-placeholder {
  color: $grey;
}
:-ms-input-placeholder {
  color: $grey;
}

form {

}

fieldset {

}
button,
input  {
  margin: 0;
}

label {
  padding: 8px 0 0 0;
  margin: 0 0 10px 10px;
  @include font-size(1.8, 2);
  font-weight: bold;
  display: block;
  text-align: left;
}

.field {
  @include column(4);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {

}

select {
  height: 50px;
}

input[type="radio"],
input[type="checkbox"] {

}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: 15px 20px;
  margin: 0;
  border: none;
  @include border-box();
  width: 100%;
  @include border-radius($border-radius);
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2));
}

optgroup {

}

button,
input[type='submit'],
input[type='button'] {
  @include button($grey);
}

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
