.h {
  font-weight: bold;
  font-style: normal;
  color: $text-color;
  margin-bottom: $baseline * 2;
}

.h1 {
  @include font-size(3.6, 4);
}
.h2 {
  @include font-size(2.4, 3);
  margin-bottom: $baseline;
}
.h3 {
  @include font-size(2, 2);
}
.h4 {
  @include font-size(1.6, 2);
}
.h5 {
  @include font-size(1.2, 2);
}
.h6 {
  @include font-size(1, 2);
}

h1,h2,h3,h4,h5,h6 {
  @extend .h;
}
h1{
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}

header {
  p {
    @include font-size(1.8);
    color: $light-grey;
  }
}