#ColorPicker {
  @include border-radius(1);
  @include arrow("bottom", 10px, $black);
  background: $black;
  cursor:default;
  display:block;
  position:absolute;
  top: 100px;
  left: 700px;
  width: 245px!important;
  height: 210px!important;
  z-index:100;
  canvas {
    top: 0!important;
    left: 0!important;
  }
  br {
    display: none
  }
  input.hexInput {
    display: none;
  }
  div.hexBox {
    display: none;
  }
  div.hexClose {
    display: none;
  }
}
