.fixed-toolbar {
  #options-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 10px 0;
    background: #0a0a0a;
    width: 100%;
    // @include box-shadow(0 3px 5px rgba(0,0,0,0.6));
    @include transition(background, .1s);
    #basic-options {
      margin: 0 auto;
      @include column-width(12);
      label {
        display: none;
      }
    }
  }
  #preview {
    margin-top: 280px;
  }
}

#basic-options {
  @include row();
  margin: 0 0 80px;
  position: relative;
  label {
    @include font-size(2.4, 3);
    text-align: center;
    margin-left: 0;
  }
  .field {
    @include column(2);
  }
  #get-src-field {
    position: relative;
    @include column(6);
    button {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      @include font-size(1.3);
      margin: 5px;
      @include box-shadow();
    }
  }
  #preview-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
  }
}

#flickr-field {
  display: none;
}

#preview {
  margin: 0 auto 40px;
  position: relative;
  @include transition(height, 1s);
  &:after {
    content: url(../images/loader.gif);
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.2;
  }
  img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
  }
  #preview-shadow {
    position: relative;
    margin: 0 auto;
    z-index: 0;
    top: -40px;
  }
}

#advanced-options {
  label[for="font-weight"],
  label[for="font-style"] {
    @include button($grey);
    width: 50px;
    @include border-box();
  }
  select {
    width: 100%;
  }
  input[type="checkbox"] {
    display: none;
  }
  .row {
    margin-bottom: 20px;
  }
  #background-color-picker-btn,
  #font-color-picker-btn,
  #random-font-colour-btn,
  #random-background-colour-btn {
    text-indent: -9999em;
    width: 50px;
    height: 50px;
    position: relative;
    &:after {
      content: " ";
      background: url(../images/icon-picker.png) no-repeat center center;
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
    }
  }
  #random-font-colour-btn,
  #random-background-colour-btn  {
    &:after {
      background: url(../images/icon-random.png) no-repeat center center;
      top: 2px;
    }
  }
  #font-colour-field,
  #background-colour-field {
    input[type="text"] {
      width: 212px;
    }
  }
  #format-field {

    display: none;


    input[type="radio"] {
      float: left;
      height: 50px;
      width: 20px;
    }
    label[for="png"],
    label[for="jpg"],
    label[for="gif"] {
      float: left;
      margin-top: 7px;
      margin-left: 10px;
      margin-right: 40px;
    }
    label:nth-of-type(1) {
      clear: both;
    }
  }
  button.checked {
    // @include arrow("top", 10px, $light-grey);
  }
  input[type="checkbox"]:checked + label {
    @include button-active($grey);
  }
}

// picker
#ColorPicker {
  position: absolute;
  background: $black;
}

#everything {
  margin:0 auto;
  padding-bottom:25px;
  text-align:left;
  width:770px;
}

#colorspy {
  background:#fbfbfb;
  border:2px solid #EEE;
  color:#555;
  font-size:16px;
  margin:20px 0 7px;
  padding:7px 0 20px 20px;
  text-align:left;
}

#colorspy legend {
  color:#bbb;
  font-size:1.1em;
  padding:0;
}

#testSwatch {
  background:#333;
  border:1px solid #333;
  color:#000;
  font-size:25px;
  padding-top:65px;
  text-align:center;
  width:440px;
  margin-right: 20px;
  float: right;
  height: 185px;
}

#colorspy a {
  color:#e04f92;
}