/* ============================= */
/* ! Layout for mobile version */
/* ============================= */


@media only screen and (max-width: 480px) {
  body {
    background: $black;
  }
}

@media only screen and (max-device-width: 1024px) {

}

/* Image replacements for retina display */

@media all and (-webkit-min-device-pixel-ratio: 2) {

}
