//
//  Configurable settings
//  Use this file to override or customise site
//
//
//  Comments
//  @Project    Acme Ltd
//  @Type       Sitecore/Umbraco, etc.
//  @Version    0.2
//  @Date       19/01/2012
//  @Author     [Name]
//  @BrowserSupport   IE8, IE9, Safari, Firefox, Chrome
//

// palette
$white: #fff;
$black: #242424;
$grey: #979797;
$light-grey: #b8b8b8;
$red: #c42623;

$text-color: $white;
$highlight-color: $red;

// Typography settings
$sans: "Helvetica Neue", Arial, sans-serif;
$serif: "adelle", "Georgia", "Times New Roman", Times, sans-serif;
$mono: "Monaco", "Courier New", monospace;

// Links settings
$links-normal: $highlight-color;
$links-hover: $highlight-color;
$links-active: $highlight-color;
$links-visited: $highlight-color;
$links-focus: $highlight-color;

// Border settings
$borders: $grey;
$hr-border: $grey;

$border-radius: 4px;

// GRID
// --------------------------------------------------

$gridColumns:             12 !default;
$gridColumnWidth:         65px !default;
$gridGutterWidth:         20px !default;

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723% !default;
$fluidGridGutterWidth:    2.127659574% !default;

$baseline: 10px;
