#site-header {
  background: url("../images/header.jpg") no-repeat top center;
  // @include background-size(cover);
  position: relative;
  margin: 0 0 100px;
  .container {
    height: 519px;
  }
  &:after {
    background: url('../images/header-bottom.png') no-repeat bottom center;
    height: 25px;
    display: block;
    content: " ";
    position: relative;
    bottom: -25px;
  }
  hgroup {
    @include column(8, $first-child: true);
  }
  h1 {
    color: $red;
  }
  p {
    color: $black;
    @include font-size(2, 3);
  }
  a.more {
    @include button($grey);
    @include box-shadow();
  }
}

#branding {
  margin: 40px 0 70px;
}