footer {
  margin: 80px 0 0 0;
  padding: 0 0 70px 0;
  background: url(../images/footer.png) no-repeat center 0;
  h3 {
    font-family: "lavanderia";
    color: $red;
    @include font-size(3, 4);
    font-weight: normal;
    margin-bottom: 0;
  }
  header {
    margin-bottom: 30px;
    p {
      @include font-size(1.8, 2);
      color: $black;
      font-weight: bold;
    }
  }
  #the-team, .social-share {
    @include border-box();
    padding: 30px;
  }
  #the-team {
    @include column(8, $first-child: true);
    #people {
      @include content-columns(2, 60px);
    }
    article {
      a {
        @include font-size(1.4, 2);
      }
      h4 {
        color: $black;
        @include font-size(1.4, 2);
        font-weight: normal;
        float: left;
        margin-right: 5px;
        margin-bottom: 0;
      }
      p {
        color: $grey;
        clear: both;
        @include font-size(1.4, 2);
      }
    }
  }
  .social-share {
    @include column(4, $last-child: true);
    ul {
      @include unlistify();
      li {
        margin-bottom: 10px;
      }
    }
  }
  .row {
    clear: both;
    position: relative;
    top: 70px;
    .copyright {
      float: left;
      @include font-size(1.4);
    }
    p {
      float: right;
      @include font-size(1.4);
      a {
      }
    }
  }
}

