/********************************************
*
* Main Structure
*
********************************************/

::selection {
  background: $highlight-color; /* Safari *
  color: $white;
}
::-moz-selection {
  background: $highlight-color; /* Firefox */
  color: $white;
}

.container {
  padding: 0 40px;
}

html {
  background: $black url(../images/pattern.png) repeat 0 0;
  text-rendering: optimizelegibility;
  min-width: 1180px;
}
body {
  background: url(../images/background.png) no-repeat center bottom;
}

.js body {
  opacity: 0;
  @include transition(opacity, 1s)
}