---
  page_title: IMG SRC — DIP IN!
  nav_title: Home
  tag_id: home
  nav_pos: 1
---

- content_for :content do
  .container#options-container
    %section#basic-options
      .field#width-field
        %label{:for=>"width"} Width
        %input{:type=>"text", :name=>"width", :id=>"width", :value=>"1000px"}
      .field#height-field
        %label{:for=>"height"} Height
        %input{:type=>"text", :name=>"height", :id=>"height", :value=>"300px"}
      .field#get-src-field
        %label{:for=>"get"} Get your source!
        %input{:type=>"text", :name=>"get", :id=>"get", :value=>"http://imgsrc.me/1000x300/"}
        / %button COPY
      %button#preview-btn PREVIEW
  %section#preview
    #preview-image
      %img
      = image_tag("preview-shadow.png", :id=>"preview-shadow")
  .container
    %section#advanced-options
      %header
        %h2 Spice up your source!
        %p Tailor your source to suit your tastebuds &#8230;
      .row
        .field#font-field
          %label{:for=>"font"} Font
          %select{:name=>"font", :id=>"font"}
            %option{:selected=>"selected", :value=>"helvetica"} Helvetica
            %option{:value=>"arial"} Arial
          / %input{:type=>"checkbox", :id=>"font-weight", :name=>"font-weight"}
          / %label{:for=>"font-weight", :unselectable=>""} B
          / %input{:type=>"checkbox", :id=>"font-style", :name=>"font-style"}
          / %label{:for=>"font-style", :unselectable=>""} I
        .field#background-colour-field
          %label{:for=>"font-colour"} Background colour
          %input{:type=>"text", :id=>"background-colour", :name=>"background-colour", :value=>"#9a1e1b"}
          %button{:id=>"background-color-picker-btn", :name=>"background-color-picker-btn"}
          %button{:id=>"random-background-colour-btn", :name=>"random-background-colour-btn"}
        .field#font-colour-field
          %label{:for=>"font-colour"} Font colour
          %input{:type=>"text", :id=>"font-colour", :name=>"font-colour", :value=>"#f3f3f3"}
          %button{:id=>"font-color-picker-btn", :name=>"font-color-picker-btn"}
          %button{:id=>"random-font-colour-btn", :name=>"random-font-colour-btn"}
      .row
        .field#text-field
          %label{:for=>"text"} Text to display
          %input{:type=>"text", :name=>"text", :id=>"text", :placeholder=>"Preview area"}
        .field#flickr-field
          %label{:for=>"text"} Flickr tags
          %input{:type=>"text", :name=>"flickr-tags", :id=>"flickr-tags", :placeholder=>"e.g. Landscape"}
        .field#format-field
          %label Format
          %input{:type=>"radio", :id=>"png", :name=>"format", :value=>"PNG"}
          %label{:for=>"png"} PNG
          %input{:type=>"radio", :id=>"jpg", :name=>"format", :value=>"JPG", :checked=>"checked"}
          %label{:for=>"jpg"} JPG
          %input{:type=>"radio", :id=>"gif", :name=>"format", :value=>"GIF"}
          %label{:for=>"gif"} GIF
