/START social share/bookmarking
%section.social-share
  %header
    %h3 Share this
    %p Spread the img src
  %ul
    /START fb-like
    %li
      #fb-root
      .fb-like{'data-send'=>'false', 'data-layout'=>'button_count', 'data-width'=>'100', 'data-show-faces'=>'false', 'data-href'=>'http://www.imgsrc.me'}
    /END fb.like

    /START twitter
    / https://dev.twitter.com/docs/tweet-button
    %li
      %a.twitter-share-button{:href=>'http://twitter.com/share', 'data-url'=>'http://www.imgsrc.me', 'data-via'=>'seqlabs', 'data-size'=>'2'}
        Tweet!
      /END twitter

    /START Google+
    %li
      .g-plus{'data-action'=>'share', 'data-href'=>'http://www.imgsrc.me', 'data-annotation'=>'bubble'}
    /END Google+

